<!DOCTYPE html>
<html ng-app="todoApp">
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


  <title>Todo MVC</title>
</head>
<body ng-controller="TodoCtrl">

<form name="newTodoForm">
  <input type="text" name="name" ng-model="taskName">
  <input type="date" name="due-date" ng-model="taskDueDate">
  <input type="submit" name="new-task" ng-click="newTask()" value="Create To-Do">
</form>



  <table>
    <tbody>
        <tr todo-item ng-repeat="item in todoService.items | completedTasks: showCompleted" item="item">
        </tr>
      </div>
    </tbody>
  </table>

  <button ng-click="todoService.clearComplete()">Clear Completed Tasks</button>
  <button ng-click="showCompleted = !showCompleted">{{ showCompleted ? "Hide Completed" : "Show Completed" }}</button>

  <script src="app.js"></script>
  <script src="angular/services/todoService.js"></script>
  <script src="angular/controllers/TodoCtrl.js"></script>
  <script src="angular/directives/TodoItem.js"></script>
  <script src="angular/filters/completedTasks.js"></script>


</body>
</html>
